.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body{
    width: 1440px;
    height: auto;
    box-sizing: border-box;
}

/*fond de la page*/
.container{
    background-color: #ff7a7a;
    background-image: url(images/bg-intro-desktop.png);
    height: 500px;
}

/*ensemble des deux colonnes de gauche et de droite*/
.columns{
    display: flex;
    justify-content: space-around;
    margin-top: 6.25rem;
    gap: 3.125rem;
}


/*titre de la colonne de gauche*/
.title{
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    color: white;
    font-weight: 700;
}

/*paragraphe en-dessous du titre de la colonne de gauche*/
.paragraph{
    font-size: 1rem;
    color: white;
    padding-right: 6.25rem;
}

/*colonne de gauche*/
.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding-top: 6.875rem;
}

/*colonne de droite*/
.right{
    width: 50%;
    padding-top: 6.25rem;
}

/*Formulaire*/

.free {
    background-color: hsl(154, 59%, 51%);
    border-color: hsl(154, 59%, 51%);
    border-radius: .3125rem;

}

.formule {
    border-color:  #92a289;
    border-width: 1px;
    border-radius: .3125rem;
    font-weight:550;
    color: #191a18;
    height:40px ;
}

